@model SDMan.Models.IncidentModel

@{
    ViewData["Title"] = "View";
}

<h1>IncidentModel</h1>

<div>
    <h4>Ticket @Html.DisplayFor(model => model.Id)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IncidentDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IncidentDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastModified)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriorityName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriorityName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <a asp-controller="Logs" asp-action="Logs" asp-route-id="@Model.Id">Incident Logs</a>
</div>

